        
        h3 {
                text-align: center;
            }
        
        h4, p {
                line-height: 2.0;
            }

        sup {
                color: red;
            }